<ion-header>
    <div class="eita">

      Metas

    </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Metas a Concluir
    </ion-list-header>
    <ion-item>
      <div class="progress-bar-large">
        <div class="progress-track">
          <div class="progress-fill" style="width: 30%;"></div>
        </div>
        <div class="progress-text">30% concluída</div>
      </div>
    </ion-item>
    <ion-item>
      <div class="progress-bar-large">
        <div class="progress-track">
          <div class="progress-fill" style="width: 60%;"></div>
        </div>
        <div class="progress-text">60% concluída</div>
      </div>
    </ion-item>
    <ion-item>
      <div class="progress-bar-large">
        <div class="progress-track">
          <div class="progress-fill" style="width: 90%;"></div>
        </div>
        <div class="progress-text">90% concluída</div>
      </div>
    </ion-item>

    <ion-list-header>
      Metas Concluídas
    </ion-list-header>
    <ion-item>
      <div class="progress-bar-large">
        <div class="progress-track">
          <div class="progress-fill" style="width: 100%;"></div>
        </div>
        <div class="progress-text">100% concluída</div>
      </div>
    </ion-item>
    <ion-item>
      <div class="progress-bar-large">
        <div class="progress-track">
          <div class="progress-fill" style="width: 80%;"></div>
        </div>
        <div class="progress-text">80% concluída</div>
      </div>
    </ion-item>
    <ion-item>
      <div class="progress-bar-large">
        <div class="progress-track">
          <div class="progress-fill" style="width: 50%;"></div>
        </div>
        <div class="progress-text">50% concluída</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
